# Pull NWIS Data using a URL

In [2]:
# Import packages
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime
from urllib.request import urlopen

# Start timer to see how long it takes for your script to run
startTime = datetime.now()

site_name = 'USGS'

In [12]:
def pull_nwis_data(parameter, site_number, start_date, end_date, site_name):
    nwis_url = f'https://waterdata.usgs.gov/nwis/dv?cb_{parameter}=on&cb_72137=on&format=rdb&site_no={site_number}&referred_module=sw&period=&begin_date={start_date}&end_date={end_date}'.format(parameter,site_number,start_date,end_date)
    print(nwis_url)
        # Find where in the file the data actually starts and skip rows
    for sr in range(25, 35):
        try:
            df = pd.read_table(nwis_url, skiprows=sr)
            if df.columns.values[0] == '5s':
                break
        except:
            print('Dormammu I have come to bargain') # Dr. Strange reference anyone?
        # Rename the columns to something easier to read
    columns = ['Name', 'Site', 'DateTime', 'Tz', '{parameter}', 'qual_code']
    print(columns)
        # Read the table, skipping the rows
    df = pd.read_table(nwis_url, skiprows=sr+1, names=columns)
    print(df.head())
        # Export to csv with the title you give 
    df.to_csv(f"{site_name}"+'.csv')
    df.reset_index(inplace=True)
    return df

In [4]:
    # Find where in the file the data actually starts and skip rows
    for sr in range(25, 35):
        try:
            df = pd.read_table(nwis_url, skiprows=sr)
            if df.columns.values[0] == '5s':
                break
        except:
            print('Dormammu I have come to bargain') # Dr. Strange reference anyone?

Dormammu I have come to bargain
Dormammu I have come to bargain
Dormammu I have come to bargain
Dormammu I have come to bargain
Dormammu I have come to bargain
Dormammu I have come to bargain
Dormammu I have come to bargain
Dormammu I have come to bargain
Dormammu I have come to bargain
Dormammu I have come to bargain

In [5]:
    # Rename the columns to something easier to read
    columns = ['Name', 'Site', 'DateTime', 'Tz', '{parameter}', 'qual_code']
    print(columns)

['Name', 'Site', 'DateTime', 'Tz', '{parameter}', 'qual_code']

In [6]:
    # Read the table, skipping the rows
    df = pd.read_table(nwis_url, skiprows=sr+1, names=columns)
    print(df.head())

NameError: name 'nwis_url' is not defined

In [7]:
    # Convert to DateTime
    df['DateTime'] = pd.to_datetime(df['DateTime'], format='%Y-%m-%d %H:%M:%S')  
    df.index = df['DateTime']
    print({site_name})

NameError: name 'df' is not defined

In [8]:
    # Export to csv with the title you give 
    df.to_csv(f"{site_name}"+'.csv')
    df.reset_index(inplace=True)
    return df

NameError: name 'df' is not defined

In [13]:
# Call the function
Shoal_Ck = pull_nwis_data(parameter='00060', site_number='08156800', start_date='2018-03-01', end_date='2018-03-18', site_name='USGS 08156800 Shoal Ck at W 12th St, Austin, TX')
Shoal_Ck

https://waterdata.usgs.gov/nwis/dv?cb_00060=on&cb_72137=on&format=rdb&site_no=08156800&referred_module=sw&period=&begin_date=2018-03-01&end_date=2018-03-18
Dormammu I have come to bargain
Dormammu I have come to bargain
['Name', 'Site', 'DateTime', 'Tz', '{parameter}', 'qual_code']
                         Name Site  DateTime Tz  {parameter} qual_code
USGS 8156800 2018-03-01  0.37    A      0.15  A         0.27         A
             2018-03-02  0.31    A      0.15  A         0.24         A
             2018-03-03  1.04    A      0.18  A         0.41         A
             2018-03-04  0.89    A      0.28  A         0.45         A
             2018-03-05  0.32    A      0.18  A         0.26         A

   level_0  level_1     level_2  Name Site  DateTime Tz  {parameter} qual_code
0     USGS  8156800  2018-03-01  0.37    A      0.15  A         0.27         A
1     USGS  8156800  2018-03-02  0.31    A      0.15  A         0.24         A
2     USGS  8156800  2018-03-03  1.04    A      0.18  A         0.41         A
3     USGS  8156800  2018-03-04  0.89    A      0.28  A         0.45         A
4     USGS  8156800  2018-03-05  0.32    A      0.18  A         0.26         A
5     USGS  8156800  2018-03-06  0.33    A      0.14  A         0.24         A
6     USGS  8156800  2018-03-07  0.20    A      0.13  A         0.17         A
7     USGS  8156800  2018-03-08  0.24    A      0.15  A         0.18         A
8     USGS  8156800  2018-03-09  0.21    A      0.16  A         0.20         A
9     USGS  8156800  2018-03-10  0.21    A      0.13  A         0.18         A
10    USGS  8156800  2018-03-11  0.18    A      0.09  A         0.14         A
11    USGS  8156800  2018-03-12  0.11    A      0.08  A         0.09         A
12    USGS  8156800  2018-03-13  0.15    A      0.08  A         0.10         A
13    USGS  8156800  2018-03-14  0.15    A      0.09  A         0.11         A
14    USGS  8156800  2018-03-15  0.18    A      0.09  A         0.14         A
15    USGS  8156800  2018-03-16  0.15    A      0.09  A         0.13         A
16    USGS  8156800  2018-03-17  0.13    A      0.07  A         0.09         A
17    USGS  8156800  2018-03-18  0.13    A      0.07  A         0.09         A